.login-container {
width: 100%;
min-height: 100vh;
background: #f8f9fc;
display: flex;
justify-content: center;
align-items: center;
}

.login-card {
width: 900px;
display: flex;
background: #fff;
border-radius: 15px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
overflow: hidden;
}
.login-left {
width: 50%;
padding: 40px 45px;
}
.login-left h2 {
font-size: 28px;
font-weight: bold;
margin-bottom: 5px;
color: #333;
}
.login-left .subtitle {
color: #666;
margin-bottom: 25px;
}

.login-left input {
width: 100%;
padding: 12px 14px;
margin-bottom: 18px;
border-radius: 8px;
border: 1px solid #ccd1d1;
font-size: 15px;
outline: none;
transition: all 0.2s;
}

.login-left input:focus {
border-color: #4a90e2;
box-shadow: 0px 0px 4px rgba(74, 144, 226, 0.4);
}

.login-btn {
width: 100%;
padding: 12px;
background: #007bff;
color: white;
font-size: 16px;
border: none;
border-radius: 8px;
cursor: pointer;
margin-top: 5px;
transition: 0.3s;
}
.login-btn:hover {
background: #0065d1;
}
.register-link {
text-align: center;
margin-top: 15px;
font-size: 14px;
}
.register-link a {
color: #007bff;
text-decoration: none;
font-weight: bold;
}
.register-link a:hover {
text-decoration: underline;
}
.login-right {
width: 50%;
background: #e8f3ff;
text-align: center;
padding: 40px;
place-content: center;
}
.login-right h3 {
font-size: 24px;
font-weight: bold;
color: #333;
}
.login-right p {
color: #555;
margin-top: 8px;
}
@media (max-width: 850px) {
.login-card {
flex-direction: column;
width: 95%;
}

.login-left, .login-right {
width: 100%;
}

.login-right {
padding: 25px;
}

.login-img {
width: 200px;
}
}
