.pd-root {
    display: grid;
    grid-template-columns: 120px 450px 450px;
    gap: 25px;
    padding: 20px 40px;
    margin-top: 120px;
  }
  
  /* Left Thumbnail Column */
  .pd-left-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .pd-thumb {
    width: 90px;
    height: 90px;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .pd-thumb.active {
    border: 2px solid #ffa41c;
  }
  
  /* Center Image */
  .pd-center-column {
    position: relative;
  }
  
  .pd-image-container {
    width: 100%;
    height: 430px;
    border: 1px solid #ddd;
    position: relative;
    background: #fff;
  }
  
  .pd-main-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  /* Lens */
  .pd-lens {
    position: absolute;
    width: 130px;
    height: 130px;
    border: 2px solid #aaa;
    background-repeat: no-repeat;
    opacity: 0.4;
    border-radius: 4px;
    pointer-events: none;
  }
  
  /* RIGHT COLUMN */
  .pd-right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Zoom Preview Box */
  .pd-zoom-preview {
    width: 100%;
    height: 350px;
    border: 1px solid #ddd;
    background-repeat: no-repeat;
    background-color: #fff;
  }
  
  .pd-zoom-hidden {
    width: 100%;
    height: 350px;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
  }
  
  /* Product Details */
  .pd-details-box {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
  }
  
  .pd-price {
    color: #B12704;
  }
  
  .pd-btn {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    border: none;
  }
  
  .add-cart {
    background: #ffd814;
  }
  
  .buy-now {
    background: #ffa41c;
  }
  