.mobiles-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column; /* ONE CARD PER ROW */
    gap: 20px;
  }
  
  .mobile-card {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background: #fff;
  }
  
  .mobile-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  