.reg-container {
    width: 100%;
    height: 100vh;
    background: #f5f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reg-card {
    width: 85%;
    max-width: 1100px;
    background: #fff;
    border-radius: 14px;
    display: flex;
    padding: 0;
    margin-top: 70px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.08);
  }
  
  .reg-left {
    width: 55%;
    padding: 40px;
  }
  
  .reg-right {
    width: 45%;
    background: #f0f4ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
  }
  
  .reg-left h2 {
    margin-bottom: 6px;
  }
  
  .subtitle {
    margin-bottom: 18px;
    color: #666;
  }
  
  /* Message Box */
  .reg-message {
    padding: 10px;
    background: #e8f0ff;
    color: #0B57D0;
    border-radius: 6px;
    margin-bottom: 15px;
  }
  
  /* Input Groups */
  .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 12px;
  }
  
  /* 3 fields row (first-name middle-name last-name) */
  .row:nth-child(1) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .reg-left input,
  .reg-left textarea {
    width: 48%;
    padding: 13px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
  }
  
  .reg-left textarea {
    resize: none;
    height: 70px;
    margin-left: -12px;
    margin-bottom: 8px;
    place-content: center;
    width: 100%;

  }
  
  .reg-btn {
    width: 100%;
    padding: 14px;
    background: #4e7fff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 12px;
    margin-left: -12px;
  }
  
  .reg-img {
    width: 70%;
    margin-bottom: 20px;
  }
  
  .login-link {
    margin-top: 15px;
    text-align: center;
  }
  
  .login-link a {
    color: #3366ff;
    text-decoration: none;
  }
  /* FULL PAGE LOADER */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-overlay p {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

/* MULTI COLOR SPINNER */
.multi-spinner {
  width: 55px;
  height: 55px;
  border: 5px solid #e0e0e0;
  border-top: 5px solid #ff6b6b;
  border-right: 5px solid #4dabf7;
  border-bottom: 5px solid #51cf66;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
